<%- include("./header") %>

<link rel="stylesheet" href="/stylesheets/feed/feed.css">
<link rel="stylesheet" href="/stylesheets/feed/sidebar.css">
<link rel="stylesheet" href="/stylesheets/feed/content.css">
<link rel="stylesheet" href="/stylesheets/feed/videos.css">
<link rel="stylesheet" href="/stylesheets/feed/master.css">
<link rel="stylesheet" href="/stylesheets/feed/nav.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="sidebar-toggler mr-3" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Sportsfeed</a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/user/v/feed">My Feed</a>
                </li>
            </ul>
            <span class="navbar-text">
                <ul class="nav navbar-nav">
                  <% if (!(currentUser)){ %>
                    <li><a class="actions" href="/login">Login</a></li>
                    <li><a class="actions" href="/register">Signup</a></li>    
                <% }else{ %>
                    <li><a><strong><%= currentUser.username %></strong></a></li>
                    <li><a class="actions" href="/logout">Logout</a></li>
                <% } %>
                </ul>
            </span>
        </div>
    </nav>