<%- include("partials/header") %>

<link rel="stylesheet" href="/stylesheets/landing.css">
<title>Sportsfeed - Error</title>
</head>
<body>
<div class="container text-center my-5 pt-5" style="width: 30%; margin: auto;">
    <h1><i class="fas fa-exclamation-circle"></i></h1>
    <h1>Oops!</h1>
    <h5>Looks like something went wrong</h5>
    <p>This page didn't load correctly, please try something else.</p>
</div>

<%- include("partials/footer") %>
