<%- include("partials/header") %>

<link rel="stylesheet" href="/stylesheets/landing.css">
<title>Sportsfeed</title>
</head>
<body>

<div class="container-fluid">
    <header>
        <h1>Choose a sport to begin</h1>
    </header>
    <div class="row align-items-center justify-content-around">
        <div class="sport col-sm-12 col-md-6 col-lg-3">
            <a href="/nba/search">
            <div class="col-content">
                <h1><i class="fas fa-basketball-ball"></i></h1>
                <h3>NBA</h3>
            </div></a>
        </div> 
        <div class="sport col-sm-12 col-md-6 col-lg-3">
            <a href="/nfl/search">
            <div class="col-content">
                <h1><i class="fas fa-football-ball"></i></h1>
                <h3>NFL</h3>
            </div></a>
        </div>
        <div class="sport col-sm-12 col-md-6 col-lg-3">
            <a href="/nhl/search">
            <div class="col-content">
                <h1><i class="fas fa-hockey-puck"></i></h1>
                <h3>NHL</h3>
            </div></a>
        </div>
        <div class="sport col-sm-12 col-md-6 col-lg-3">
            <a href="/mlb/search">
            <div class="col-content">
                <h1><i class="fas fa-baseball-ball"></i></h1>
                <h3>MLB</h3>
            </div></a>
        </div>
    </div>
</div>



<%- include("partials/footer") %>