body {
  background: #e8e8e8;
  height: 100%;
  margin: 0;
  font-family: "Exo 2", sans-serif;
  color: #a9a9a9;
}
.login-box {
  width: 35%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.login-box a {
  font-size: 0.9rem;
  float: right;
  padding-top: 10px;
}
#errorMessage {
  color: #cc0000;
}
