<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/search.css">
<title>Sportsfeed</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <h1>Search for your favourite <%= sport.toUpperCase() %> team</h1>
    </div>
    <div class="row justify-content-center">
        <form>
            <div id="search-row" class="p-3 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <input type="search" id="search" placeholder="My favourite team is ..." aria-describedby="button-addon1" class="form-control border-0 bg-light">
                    <div class="input-group-append">
                        <button id="button-addon1" class="btn btn-link text-primary" disabled><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div id="match-list"></div>
        </form>
    </div>
    <div class="row justify-content-between">
        <% if (!(currentUser)){ %>
        <div></div>
        <a href="/">Change Sport</a>
        <a href="/login">Already have team saved? Login here.</a>
        <div></div>
        <% }else{ %>
        <div></div>
        <a class="pr-5" href="/">Change Sport</a>
        <a class="pr-5" href="/user/v/feed">My Feed</a>
        <div></div>
        <% } %>
    </div>
</div>


<script type="text/javascript" src="/js/search<%=sport.toUpperCase()%>.js"></script>
<%- include("../partials/footer") %>
