html, body{
    height: 100%;
    min-height: 100%;
    margin: 0;
}
body{
    height: 100vh;
    font-family: 'Exo 2', sans-serif;
    background-color: #E8E8E8;
}
nav{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25)!important;
}
div.row.main-row{
    height: 100%;
}
section{
    height: 100%;
}
.sidebar-toggler{
    color: #fff;
    background: transparent;
    border: none;
}
.sidebar-toggler:focus{
    outline: none;
}

#resultsFor{
    color: #585858;
}
#contentSection .follow-results{
    box-shadow: 0 0 18px rgba(0,0,0,0.5);
    border-radius: 20px;
}
#contentSection .follow-result-item{
    flex-wrap: nowrap;
    overflow-x: scroll;
    border-radius: 20px;
}
#contentSection .no-follower-message{
    color: grey;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.25);
}
::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0.5);
}